{% extends 'base.html' %}

{% block title%} {{ question.subject }} {% endblock %}
{% block content %}
<div class="question_head">
<h1>{{ question.subject }}</h1>
<div>
<hr>

    {{question.content}}
    <br><br><br>
    {% if request.user == question.author %}
    <div class = "my-3">
        <a href="{% url 'community:question_modify_1' question.id%}"
        class = "btn btn-sm btn-outline-secondary">수정</a>
        <a href="#" class = "delete btn btn-sm btn-outline-secondary"
        data-url = "{% url 'community:question_delete_1' question.id %}">삭제</a>
    </div>
    {% endif %}

</div>
<hr>

<h5>{{question.answer_1_set.count}}개의 답변이 있습니다.</h5>
<div>
    <ul>
        {% for answer in question.answer_1_set.all %}
            <li>{{answer.content}}</li>
        {% endfor %}
    </ul>
</div>
<form action="{% url 'community:answer_create_1' question.id%}" method="POST">
    {% csrf_token %}
    <textarea name="content" id="content" rows="1" style = "width:500px"></textarea>
    <br>
    <input type="submit" value = "답변등록">
</form>

{% endblock %}
{% block script %}
<script type = "text/javascript">
  $(document).ready(function(){
    $(".delete").on("click", function(){
      if(confirm("정말로 삭제하시겠습니까?")){
        location.href = $(this).data('uri');
      }
    });
  });
</script>
{% endblock %}